
.wrapper{
    background-color: #E7EDEF;
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    font-size: calc(13px + 1vh);
    font-family: 'Pridi';
}

h1{
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
}

#farmerIntro{
/* background-color: lightblue; */
 text-align: left;
 font-size: large;
 margin: auto;
 padding-left: 30px;
 padding-right: 30px;
}

#farmContact{
    display: inline-block;
}

#order{
    border-radius: 12px;
    width: 20%;
    height: 5%;
    min-width: 40px;
    min-height: 40px;
    color: black;
    background-color: #FF9B42;
    font-size: calc(10px + 1vh);
    font-family: 'Pridi';
    margin: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#ImageGallery {

  width: 1000px;
  height: 600px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: 150px;
  grid-gap: 10px;
  padding: 1rem;
  margin: 1rem;
  justify-content:center;
  justify-self: center;
  margin-left: 40px;
}
#ImageGallery-div{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

#ImageGallery h3{
    grid-column: 1/4;
}

#ImageGallery img{
    object-fit: cover;
    height: 150px;
    width: 325px;
    box-sizing: border-box;
}

/* image animation */
#ImageGallery img{
    transition: transform 1s;
}

#ImageGallery img:hover{
    transform: scale(1.15);
}