body {
    margin: 0 auto;
    padding: 0;
}

nav {
    width: 100%;
    max-height: calc(150px + 1vh) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    z-index: 5;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    margin-right: 40px;
}

nav a {
    color: black; 
    font-family: 'Pridi', serif;
    font-size: calc(10px + 1vh);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    
}
#logo {
    margin-left: 40px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-height: 250px;
    width: auto;
}

#logo:hover{
    border-style: none;

}
nav a:hover {
    color: grey;
    border-top-style: solid;
    border-bottom-style: solid;
    
}



#home:hover {
    border-bottom-style: none;
}