body {
    margin: auto;
    padding: 0;
}

nav {
    width: 100%;
    max-height: calc(150px + 1vh) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    z-index: 5;
}

nav ul {
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    margin-right: 30px;
}

nav a {
    color: black; 
    font-family: 'Pridi', serif;
    font-size: calc(15px + 1vh);
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px;
    
}

nav a:hover {
    color: grey;
    border-top-style: solid;
    border-bottom-style: solid;
    text-shadow: darkorange;
}

#logo {
    margin-left: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 250px;
    width: auto;
    
}

#home:hover {
    border-bottom-style: none;
}