
body {
    background-color: #FFFFFF;
    overflow-x:hidden;
    font-size: calc(15px + 1vh);
    font-family: 'Pridi';
    
}
 #websiteStatement{
    padding-left: 200px;
    padding-right: 200px;
 }
 #aboutUs{
    padding-left: 200px;
    padding-right: 200px;
 }


.options{
    list-style-type: none;
    justify-content: space-evenly;
    margin: 30px;
   
}
.options li{
    background-color: lightgray;
    border-radius: 12px;
    padding: 4vh;
    margin: 2em 0;
    
}

.options li a{
    color: black;
    text-align: center;
}

h1{
    text-align: center;
}

#farmer1{
    max-height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}   

button {
    border-radius: 12px;
    min-width: calc(150px + 1px);
    min-height: calc(40px + 1px);
    color: black;
    background-color: lightsalmon;
    font-size: calc(13px + 1vh);
    font-family: 'Pridi';
    margin-bottom: 10px;
}
#searchBar {
    border-radius: 12px;
    height: 30px;
    width: 900px;
    margin-top: 10px;
    background-color: peachpuff;
    color: black;
    padding-left: 20px;
    font-size: calc(10px + 1vh);
    font-family: 'Pridi';
}