body{
    background-color: #E7EDEF;
    
}

.wrapper{
 
    padding-top: 2rem;
    margin: auto;
}
main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 30px;
    padding: 20px;
    line-height: 1.1;
    font-size: large;
   
}

p{
    font-size: large;
}
#farmer1{
    object-fit: contain;
    width: 600px;
    height:600px;
  
}


.options{
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
   
}
.options li{
    background-color: rgb(247, 240, 205);
    border-radius: 25px;
    padding: 2vh;
    margin: 2em 0;
    
}

h1{
    text-align: center;
}