body {
    background-color: #f3f6f7;
    overflow-x:hidden;
    font-size: calc(13px + 1vh);
    font-family: 'Pridi';
    color: #0B0F32;
    
}

#headerTitle{
    font-size: 40px;
    margin-left: 50px;
}

/* Start of placeholder CSS to contain each Farmer entry */
.farmerContainer {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    font-size: calc(13px + 1vh);
    font-family: 'Pridi';
    background-color: lightgray;
    border-radius: 12px;
    
}

.farmerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.farmerName {
    font-weight: bold;
    font-size: 38pt;
    display: block;
    text-align: center;
}

.farmerDescription {
    font-size: 30px;
    display: block;
    text-align: center;
}
/* End of placeholder CSS to contain each Farmer entry */


