/* Start of placeholder CSS to contain each Farmer entry */
.farmerContainer {
    margin: 40px;
    padding: 40px;
    font-family: "Open Sans";
    border: 2px solid #AAAAAA;
    background-color: #D0F0C0;
    border-radius: 2em;
}

.farmerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.farmerName {
    font-weight: bold;
    font-size: 38pt;
    display: block;
    text-align: center;
}

.farmerDescription {
    font-size: 30px;
    display: block;
    text-align: center;
}
/* End of placeholder CSS to contain each Farmer entry */